<div class="row" ng-init="query()">

  <div class="col col-md-4">
    <h4>Activities</h4>

    <div class="input-group">
      <input type="text"
             ng-enter="addActivity()"
             ng-model="newActivity.name"
             class="form-control"
             aria-label="Amount (to the nearest dollar)">
      <span class="input-group-addon" ng-click="addActivity()">
        <span class="glyphicon glyphicon-plus"></span>
      </span>
    </div>
    <br>

    <ul class="list-group">
      <li ng-repeat="activity in activities"
          class="list-group-item"
          ng-click="selectActivity(activity)"
          ng-bind="activity.get('name')"></li>
    </ul>


  </div>

  <div class="col col-md-8">
    <h4>Schema</h4>

    <pre ng-bind="activity|json"></pre>

  </div>

</div>
