<div>
  <h3>Ups! That didn't work as expected.</h3>

  <br/>

  <div>
    <a href="https://github.com/pisquared/parse-example/issues">
      If you like, you can report this issue at GitHub.
    </a>
  </div>

  <br/>

  </div>
    <p>Speed up issue processing by donating absurdly high amounts of BTCs to 1K721419Ph2g8X4tQyu3rgga7iH8ZZNUEo</p>
    <br/><br/>
    <img src="images/wallet.png"/>
    <br/><br/>
    <p></p>

    <br/><br/>

    <div ui-sref="{{previousState}}" class="btn btn-primary">Go Back</div>

  </div>
</div>
