<div>
  <h1>Parse DB</h1>
  <!-- LOGIN -->
  <div class="view-login form-inline" 
       ng-controller="UserController">
    <div class="form-group">
      <input  type="text" 
              class="form-control"
              ng-model="username" 
              placeholder="username"/>
    </div>
    <div class="form-group">
      <input  type="password" 
              class="form-control"
              ng-model="password" 
              placeholder="password"/>
    </div>
    <div class="form-group">
      <div class="btn btn-primary"
           ng-click="login()">
        Login
      </div>
    </div>
  </div>
  <!-- /LOGIN -->

  <br/>

  <!-- QUERY -->
  <div class="list-activities"
       ng-controller="ActivityController"
       ng-init="query()">

    <div ng-bind="user.get('username')"></div>

    <!-- Refresh Button -->
    <div class="btn btn-primary" ng-click="query()">
      <span class="glyphicon glyphicon-refresh"></span>
    </div>
    <br/><br/>



    <h4>History</h4>
    <canvas 
      id="line" 
      class="chart chart-line" 
      data="data"
      height="50"
      labels="labels" 
      legend="true" 
      series="series"
      click="onClick">
    </canvas> 


    <h4>Create new record</h4>
    <!-- CREATE -->
    <div class="record-form form-inline">
      <div class="form-group">
        <input  type="text" 
                class="form-control"
                ng-model="record.bar" 
                placeholder="title"/>
      </div>
      <div class="form-group">
        <input  type="number" 
                class="form-control"
                ng-model="record.duration" 
                placeholder="duration"/>
      </div>
      <div class="form-group">
        <div class="btn btn-primary"
             ng-click="createRecord()">
          Submit
        </div>
      </div>
    </div><br/><br/>
    <!-- /CREATE -->





    <h4>Log</h4>
    <strong> <!-- Log header -->
      <div class="row">
        <div class="col col-xs-4 text-bold">Foo</div>
        <div class="col col-xs-4">Time</div>
        <div class="col col-xs-4">Duration</div>
      </div>
    </strong>
    <!-- Log Body -->
    <div ng-repeat="activity in activities" 
         class="card-activity row">
      <div class="col col-xs-4" 
           ng-bind="activity.get('schema').bar"></div>
      <div class="col col-xs-4" 
           ng-bind="activity.createdAt|date:'HH:mm:ss'"></div>
      <div class="col col-xs-4" 
           ng-bind="activity.get('schema').duration"></div>
    </div>

    <br/><br/>

    <h4>Debug</h4>
    <pre ng-bind="user|json"></pre>
    <pre ng-bind="activities|json"></pre>

  </div>
  <!-- /QUERY -->
</div>