<div ng-controller="NavigationController" class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="http://parse.com" target="_blank">Parse Example</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a ui-sref="private.activities">Activities</a></li>
          <li><a ui-sref="private.records">Records</a></li>
          <li><a href="https://github.com/pisquared/parse-example" target="_blank">About</a></li>
        </ul>


        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#"
               class="dropdown-toggle"
               data-toggle="dropdown"
               role="button"
               aria-haspopup="true"
               aria-expanded="false">Username <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a ui-sref="public.logout">Logout</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header text-center"><span class="text-danger">--- Danger Zone ---</span></li>
              <li><a ui-sref="public.bug">Purge history</a></li>
              <li><a ui-sref="public.bug">Delete account</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
