<div class="records-view">
  <h3>Records for 
    <span class="text-info" ng-bind="activity.get('name')"></span>
  </h3>

  <div class="activity-schema">


    <h4>History Chart</h4>
    <canvas
      id="line"
      class="chart chart-line"
      data="data"
      height="50"
      labels="labels"
      legend="true"
      series="series"
      click="onClick">
    </canvas>


    <!-- CREATE -->
    <h4>Create new record</h4>
    <form  id="newRecordFormElement"
          sf-schema="activity.attributes.schema" 
          sf-model="newRecord"
          sf-form="newRecordForm"
          ng-submit="submitRecord(newRecordFormElement)">
    </form>
    <!--
    <div ng-repeat="(name, property) in activity.attributes.schema.properties">
    </div>
    -->

    <!--
    <pre ng-bind="activity.attributes.schema.properties|json"></pre>
    <br/><br/>
     /CREATE -->





    <h4>Log</h4>
    <strong> <!-- Log header -->
      <div class="row">
        <div class="col col-xs-4 text-bold">id</div>
        <div class="col col-xs-4" ng-bind="primaryProperty"></div>
      </div>
    </strong>
    <!-- Log Body -->
    <div ng-repeat="record in records"
         class="card-record row">
      <div class="col col-xs-4"
           ng-bind="record.id"></div>
      <div class="col col-xs-4"
           ng-bind="record.get('data')[primaryProperty]"></div>
    </div>

    <br/><br/>

    <!--
    <h4>Debug</h4>
    <pre ng-bind="user|json"></pre>
    <pre ng-bind="records|json"></pre>
    -->
  </div>
  <!-- /QUERY -->


</div>
